* {
    box-sizing: border-box;
}

/* Element targets */
h1 {
    font-size: 52px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

body {
    margin: 0;
}

main {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #B7AD99;
}

main img {
    width: 100%;
    border-radius: 5%;
}

header p{
    font-size: 20px;
}

/* Class targets */

.wrapper {
    width: 100%;
}

.wrapper h2 {
    padding-left: 5px;
}

.wrapper p {
    padding-left: 5px;
}

.profile-photo {
    max-width: 480px;
    margin: auto;
    display: block;
}

.group {
    display: flex;
    flex-direction: column;
}

main #about {
    background-color: #465f6d;
    color: snow;
    padding: 20px 60px 30px 60px;
       
}

.item {
    flex: 1;
    padding: 10px;
}

.item-double {
    flex: 2;
    margin: 20px;
}

.profile-photo-container {
    padding-top: 20px;
    padding-bottom: 5px;
}

.portfolio-image {
    border: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Navigation Styling */
header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;  
}

header nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

header nav ul li a:link {
    color: lightgray;
}

header nav ul li a:visited {
    color: slategray;
}

/* Styling for contact form*/
form input,
form textarea {
    width: 100%;
}

form textarea {
    height: 200px;
}

/* Style header and footer banners */
.banner {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #673C4F;
}

/* Psuedo-classes */

a:link {
    color: darkblue;
}

a:visited {
    color: maroon;
}

a:hover {
    color: seagreen;
}

a:active {
    color: mediumorchid;
}

/* media queries */
@media all and (min-width: 800px) {

    main {
        font-size: 18px;
    }
    
    main #intro h2 {
        margin-top: 200px;
        margin-bottom: 50px;
    }

    main #about h2 {
        margin-top: 50px;
    }

    #intro, #portfolio, #contact {
        width: 85%;
        margin: auto;
    }
    
    .group {
        flex-direction: row;
    }

    /* Desktop navigation styling */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
    }

    h1 {
        font-size: 48px;
        margin: 14px 0;
    }

    header nav {
        align-items: center;
    }

    header nav ul li {
        font-size: 18px;
    }
}
